atomicwrites==1.2.1
attrs==18.2.0
cairocffi==0.9.0
CairoSVG==2.2.1
certifi==2018.10.15
cffi==1.11.5
chardet==3.0.4
cssselect2==0.2.1
defusedxml==0.5.0
html5lib==1.0.1
idna==2.7
Jinja2==2.10
MarkupSafe==1.0
more-itertools==4.3.0
oauthlib==2.1.0
pdfrw==0.4
Pillow==8.2.0
pluggy==0.8.0
py==1.7.0
pycparser==2.19
Pyphen==0.9.5
pytest==3.9.2
python-dateutil==2.7.3
requests==2.19.1
requests-oauthlib==0.8.0
six==1.11.0
tinycss2==0.6.1
urllib3==1.23
WeasyPrint==0.42.3
webencodings==0.5.1
