<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="report.css" media="print" rel="stylesheet">
    <title>Expense report</title>
    <meta name="description" content="Monzo Expense Report">
    <meta name="author" content="Sam Dobson">
  </head>

  <body>
    <h1>Expenses</h1>

    <aside>
      <div>
      {{ start_date.strftime('%d %b %y') }} - 
      {{ end_date.strftime('%d %b %y') }}
      </div>
    </aside>

    <dl id="header-info">
      <dt>Prepared</dt>
      <dd>{{ generated }}</dd>
    </dl>

    <table>
      <thead>
        <th>Date</th>
        <th>Description</th>
        <th>Merchant</th>
        <th>Amount</th>
      </thead>
      <tbody>
        <tr>
	  <td>01 Sep 2018</td>
	  <td>Travel to client meeting</td>
	  <td>Southern Rail</td>
	  <td>£36.80</td>
        </tr>
         <tr>
	  <td>14 Sep 2018</td>
	  <td>Stationery</td>
	  <td>WH Smith</td>
	  <td>£11.99</td>
        </tr>
         <tr>
	  <td>21 Sep 2018</td>
	  <td>Hotel stay</td>
	  <td>Mariott Leeds</td>
	  <td>£145.00</td>
        </tr>
      </tbody>
    </table>

    <table id="total">
      <thead>
        <th>Pay To</th>
        <th>Account</th>
        <th>Total Expenses</th>
      </thead>
      <tbody>
        <tr>
	  <td>Joe Bloggs</td>
	  <td>04-00-04 05320746</td>
	  <td>£193.79</td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
